<nz-breadcrumb style="height: 49px; background: #fff;">
  <nz-breadcrumb-item><a routerLink="/main/management"></a>
    管理</nz-breadcrumb-item>
  <nz-breadcrumb-item><a routerLink="/main/management/mlink"></a>
    链接管理</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="data-select">
  <div class="data-select-head"><p><strong>数据筛选</strong></p></div>
  <div class="data-select-content">
    链接：&nbsp;&nbsp;<input type="text" nz-input nzSize="large">&nbsp;&nbsp;&nbsp;&nbsp;
    手机号：&nbsp;&nbsp;<input type="text" nz-input nzSize="large" [(ngModel)]="inputTel" name="inputTel">&nbsp;&nbsp;&nbsp;&nbsp;
    车牌号：&nbsp;&nbsp;<input type="text" nz-input nzSize="large" [(ngModel)]="inputLic" name="inputLic">&nbsp;&nbsp;&nbsp;&nbsp;
    <button nz-button [nzSize]="size" nzType="primary" (click)="onCheckLink()"><i nz-icon type="search" theme="outline"></i>查询</button>
    <button  nz-button [nzSize]="size" nzType="default" (click)="onClear()"><i nz-icon type="reload" theme="outline"></i>重置</button>
  </div>
</div>
<div class="data-list">
<p><strong>数据列表</strong></p>
  <nz-table #basicTable [nzData]="linkData">
    <thead>
    <tr>
      <th>链接</th>
      <th>手机号</th>
      <th>车牌号</th>
      <th>启用</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.link}}</td>
      <td>{{data.tel}}</td>
      <td>{{data.license}}</td>
      <td><nz-switch [(ngModel)]="data.switchValue"></nz-switch></td>
      <td style="border-right: 1px solid #dfdfdf;"><a (click)="onLinkView()"><i nz-icon type="zoom-in" theme="outline"></i>查看</a>&nbsp;
        <a><i nz-icon type="edit" theme="fill"></i>编辑</a></td>
    </tr>
  </tbody>
  </nz-table>
</div>

